<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <logger name="root" level="WARN" additivity="false">
    <appender-ref ref="CONSOLE"/>
  </logger>

  <logger name="dev.nk7" level="INFO" additivity="false">
    <appender-ref ref="CONSOLE"/>
  </logger>
</configuration>
